In [100]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [65]:
df_train = pd.read_csv('./titanic/train.csv')
df_train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [66]:
df_test = pd.read_csv('./titanic/test.csv')

In [78]:
df_y = pd.read_csv('./titanic/gender_submission.csv')
df_y.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [67]:
def preprocessing(df):
    to_drop = ['Name', 'Ticket', 'Cabin']
    df = df.drop(to_drop, axis = 1)
    df['Age'] = df['Age'].fillna(value=df['Age'].mean())
    df['Fare'] = df['Fare'].fillna(value=df['Fare'].mean())
    lab = LabelEncoder()
    df['Sex'] = lab.fit_transform(df['Sex'])
    df['Embarked'] = lab.fit_transform(df['Embarked'])
    return df

In [68]:
df = preprocessing(df_train)
df_test = preprocessing(df_test)

In [59]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int32
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         417 non-null    float64
 7   Embarked     418 non-null    int32
dtypes: float64(2), int32(2), int64(4)
memory usage: 23.0 KB

In [72]:
X_train = df.drop('Survived', axis = 1)
y_train = df['Survived']

In [98]:
X_test = df_test
y_test = df_y['Survived']

In [101]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [102]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [103]:
y_pred = knn.predict(X_test)

In [105]:
clf = KNeighborsClassifier(n_neighbors = 5)
clf.fit(X_train, y_train)
  
training_score = clf.score(X_train, y_train)
test_score = clf.score(X_test, y_test)

print(training_score)
print(test_score)

0.8630751964085297
0.8325358851674641